<button
  [type]="type()"
  [class]="buttonClasses()"
  [routerLink]="redirectTo()"
  [disabled]="disabled() || loading()"
>
  <div
    class="flex-centered-v-h min-h-6 min-w-4"
    [class]="hasIcon() ? limitTitleFromBreakpoint() ? `${limitTitleFromBreakpoint()}:space-x-1` : 'space-x-1' : ''"
  >
    @if (loading()) {
      <ng-icon class="animate-spin" name="heroArrowPathSolid"> </ng-icon>
      Loading...
    } @else {
      <ng-content></ng-content>
      @if (title().length) {
        <span
          [class]="
            limitTitleFromBreakpoint() ? `hidden ${limitTitleFromBreakpoint()}:inline` : ''
          "
        >
          {{ title() }}
        </span>
      }
    }
  </div>
</button>
