<nav class="sticky w-full top-0 bg-light p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <a href="#" class="text-xl font-bold flex items-center">
        <img src="angular.png" alt="Angular Logo" class="h-10 mr-3" />
        Angular 20 Playground
      </a>
    </div>

    <div class="flex items-center space-x-4">
      <app-button title="Home" color="primary">
        <ng-icon name="heroHomeSolid"> </ng-icon>
      </app-button>
      <app-button title="Playground" color="primary">
        <ng-icon name="heroPlaySolid"> </ng-icon>
      </app-button>
      <app-button title="Products" color="primary">
        <ng-icon name="heroShoppingCartSolid"> </ng-icon>
      </app-button>
    </div>
  </div>
</nav>
